body {
    background: rgb(7,131,200);
    background: radial-gradient(circle, rgb(43, 43, 43) 75%, rgb(19, 19, 19) 100%);
}


form {
    background-color: rgb(209, 209, 209);
    border-radius: 1rem;
}

h1 {
    color: rgb(214, 214, 214);
}